@font-face {
  font-family: 'TT Travels';
  src: url('../fonts/TTTravels-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Travels';
  src: url('../fonts/TTTravels-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Travels';
  src: url('../fonts/TTTravels-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TT Travels';
  src: url('../fonts/TTTravels-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}
