.header {
  color: var(--base-color);
  display: flex;
  align-items: center;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid var(--base-color);
  background-color: var(--primal-color);
  z-index: 5;

  &.is-accent {
    background-color: var(--neutral-accent-color);
    color: var(--primal-color);
    border-bottom: 1px solid var(--primal-color);


    .social_link {
      background-color: var(--primal-color);

      &:hover {
        background-color: #474747;
      }

      svg path{
        fill: var(--base-color);
      }
    }

    .header-navigation_link {
      color: var(--primal-color);
    }
  }

  &.is-none-border {
    border: none;
  }
}

.hero-block-wrapper {
  background-color: var(--accent-color);
  margin-top: calc(var(--header-height) - 1px);
}

.hero-block {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - var(--header-height));
  height: 100%;
}

.hero-block-item {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  height: 100%;
  min-height: calc(100vh - var(--header-height));
  justify-content: space-around;
  text-decoration: none;
  position: relative;

  @media (min-width: 992px) {
    flex-direction: row;
  }
}

.hero-block-item-container {
  height: 100%;
}

.hero-block_info {
  display: flex;
  height: 100%;
  margin-top: 15px;
  padding-bottom: 50px;
  justify-content: flex-start;
  flex-direction: column;
  align-content: flex-start;
  //width: 100%;

  @media (min-width: 768px) {
    margin-top: 30px;
    padding-bottom: 80px;
  }

  @media (min-width: 992px) {
    margin-top: 60px;
    padding-bottom: 80px;
    flex-direction: column;
    justify-content: center;
  }
}

.hero-block_info_b {
  font-size: var(--font-size-small);
  margin-left: 10px;

  @media (min-width: 768px) {
    margin-left: 20px;
  }

  @media (min-width: 1400px) {
    margin-left: 30px;
  }
}

.hero-block_info_h1 {
  margin: 20px 0 10px;
  font-weight: 800;
  font-size: 35px;

  @media (min-width: 768px) {
    margin: 40px 0 20px;
  }

  @media (min-width: 1200px) {
    font-size: 80px;
  }

  @media (min-width: 1400px) {
    margin: 60px 0 40px;
    font-size: 100px;
  }
}

.hero-block_info_h2 {
  font-weight: 800;
  font-size: 20px;
  position: absolute;
  left: 50px;
  top: 50px;

  @media (min-width: 768px) {
    font-size: 26px;
    margin-bottom: 90px;
  }

  @media (min-width: 992px) {
    font-size: 40px;
    margin-bottom: 90px;
    position: unset;
  }

  @media (min-width: 1200px) {
    font-size: 40px;
    margin-bottom: 68px;
  }

  @media (min-width: 1400px) {
    font-size: 60px;
    margin-bottom: 90px;
  }
}

.hero-block_info_p {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  margin: 0 0 50px;

  @media (min-width: 768px) {
    font-size: 22px;
  }

  @media (min-width: 992px) {
    font-size: 22px;
  }

  @media (min-width: 1200px) {
    font-size: 22px;
  }

  @media (min-width: 1400px) {
    font-size: 24px;
  }
}

.hero-block_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  img {
    width: 70%;
  }

  &.is-bottom {
    align-self: flex-end;
  }

  &.has-capture {
    position: relative;
  }

  @media (min-width: 992px) {
    img {
      height: 100%;
    }
  }
}

.slick-slide {
  position: relative;
}

.hero-block_capture {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 30vh;
  height: 80px;
  width: 230px;
  display: flex;
  background-color: var(--base-color);
  border-radius:  20px 0 0 20px;
  border: 2px solid #000000;
  padding: 40px;
  align-items: center;

  img {
    width: 75px;
  }

  @media (min-width: 768px) {
    padding: 32px 30px;
    height: 130px;
    width: 300px;

    img {
      width: 102px;
    }
  }

  @media (min-width: 992px) {
    padding: 30px 50px;
    height: 150px;
    width: 450px;
    bottom: 10%;
    top: unset;

    img {
      width: 136px;
    }
  }

  @media (min-width: 1200px) {
    padding: 30px 50px;
    height: 150px;
    width: 450px;

    img {
      width: 136px;
    }
  }

  @media (min-width: 1400px) {
    padding: 40px;
    height: 180px;
    width: 500px;

    img {
      width: 160px;
    }
  }
}

.hero-block_capture_info {
  width: fit-content;
  margin-left: 15px;

  @media (min-width: 992px) {
    margin-left: 20px;
  }
}

.hero-block_capture_info_date {
  font-weight: 800;
  font-size: 12px;
  line-height: 1;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 15px;
  }

  @media (min-width: 992px) {
    font-size: 26px;
  }

  @media (min-width: 1200px) {
    font-size: 26px;
  }

  @media (min-width: 1400px) {
    font-size: 32px;
  }
}

.hero-block_capture_info_time {
  font-weight: 800;
  font-size: 24px;
  line-height: 1;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 30px;
  }

  @media (min-width: 992px) {
    font-size: 50px;
  }

  @media (min-width: 1200px) {
    font-size: 50px;
  }

  @media (min-width: 1400px) {
    font-size: 63px;
  }
}

.container-index-about {
  margin-top: 100px;
  margin-bottom: 100px;

  @media (min-width: 768px) {
    margin-top: 130px;
    margin-bottom: 120px;
  }

  @media (min-width: 992px) {
    margin-top: 150px;
    margin-bottom: 150px;
  }

  @media (min-width: 1200px) {
    margin-top: 180px;
    margin-bottom: 150px;
  }

  @media (min-width: 1400px) {
    margin-top: 240px;
    margin-bottom: 250px;
  }
}

.container-index-about-img {
  margin: 0;

  p {
    margin: 0;
  }

  img {
    padding: 0 40px;
  }

  .container-index-about-img_text {
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    text-align: center;
  }

  @media (min-width: 576px) {
    img {
      padding: 0 100px;
    }
  }

  @media (min-width: 768px) {
    margin: 0 0 90px;

    img {
      padding: 0 130px;
    }
  }

  @media (min-width: 992px) {
    margin: 0;

    .container-index-about-img_text {
      font-size: 24px;
      text-align: left;
    }

    img {
      padding: 0 100px 0 0;
    }
  }

  @media (min-width: 1200px) {
    .container-index-about-img_text {
      font-size: 34px;
    }

    img {
      padding: 0 100px 0 0;
    }
  }

  @media (min-width: 1400px) {
    .container-index-about-img_text {
      font-size: 42px;
    }

    img {
      padding: 0 150px 0 0;
    }
  }
}

.title-main {
  font-weight: 800;
  margin-bottom: 30px;

  @media (min-width: 1400px) {
    margin-bottom: 50px;
  }
}

.container-popular {
  margin-bottom: 80px;

  @media (min-width: 768px) {
    margin-bottom: 100px;
  }

  @media (min-width: 992px) {
    margin-bottom: 80px;
  }

  @media (min-width: 1400px) {
    margin-bottom: 94px;
  }
}

.container-cards {

  .button {
    margin: 60px 0 0;

    @media (min-width: 768px) {
      margin: 70px 0 0;
    }

    @media (min-width: 992px) {
      margin: 100px 0 0;
    }

    @media (min-width: 1400px) {
      margin: 120px 0 0;
    }
  }
}

.subscribe-section {
  color: var(--primal-color);
  display: flex;
  flex-direction: column;
  padding: 50px 20px 60px;
  border-radius: 20px;
  background-color: var(--accent-color);
  gap: 50px;
  margin-top: 100px;

  @media (min-width: 768px) {
    margin-top: 80px;
    padding: 60px 50px 60px;
  }

  @media (min-width: 992px) {
    margin-top: 120px;
    padding: 80px 380px 80px 60px;
  }

  @media (min-width: 1200px) {
    flex-direction: row;
    padding: 80px 60px;
    gap: 50px;
    margin-top: 80px;
  }

  @media (min-width: 1400px) {
    padding: 100px;
    gap: 120px;
    margin-top: 120px;
  }
}

.subscribe-title {
  font-weight: 800;
}

.subscribe-form {
  grid-template-columns: 1fr;
  gap: 30px 26px;

  @media (min-width: 768px) {
    min-width: 510px;
    grid-template-columns: 1fr  max-content;
    gap: 20px;
  }

  @media (min-width: 1400px) {
    min-width: 625px;
  }

  .form-control {
    width: auto;
    background-color: #FFECBB;
    border: 1px solid #000000;
    color: var(--primal-color);

    &:focus {
      background: var(--base-color);
    }
  }
}

.subscribe-form-step-one {
  display: none;

  &.is-active {
    display: grid;
  }
}

.subscribe-form-step-two {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px;
  flex-direction: column;

  &.is-active {
    display: flex;
  }

  @media (min-width: 768px) {
    min-width: 510px;
    padding: 30px 40px;
    flex-direction: row;
    justify-content: left;
    text-align: unset;
  }

  @media (min-width: 1400px) {
    min-width: 625px;
    padding: 50px;
  }
}

.subscribe-form-circle-approve {
  width: 54px;
  height: 54px;
  background: var(--primal-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 0 0 20px 0;

  @media (min-width: 768px) {
    margin: 0 30px 0 0;
  }

  img {
    width: 15px;
  }
}

.subscribe-form_text {
  color: var(--primal-color);
  font-size: var(--font-size-smalled);
  line-height: 17px;
  margin: 0;
  grid-column: 1 / 2;

  @media (min-width: 768px) {
    grid-column: 1 / 3;
  }
}

// contacts
.contacts-social {
  margin-top: 20px;

  @media (min-width: 1400px) {
    margin-top: 40px;
  }
}

.contacts-container {
  margin-top: 40px;
  margin-bottom: 100px;

  .footer-title {
    margin-top: 40px;
  }

  .footer-link {
    color: var(--primal-color);
  }

  .social_link {
    background-color: var(--primal-color);

    svg path{
      fill: var(--base-color);
    }
  }

  @media (min-width: 1400px) {
    margin-top: 170px;
    margin-bottom: 170px;

    .footer-title {
      margin-top: 40px;
    }
  }
}

#map {
  height: 350px;

  @media (min-width: 1400px) {
    height: 500px;

  }
}

//lecture
.lecture-section {
  margin-top: calc(var(--header-height) + 30px);

  @media (min-width: 768px) {
    margin-top: calc(var(--header-height) + 40px);
  }

  @media (min-width: 1400px) {
    margin-top: calc(var(--header-height) + 60px);
  }
}

.lecture-head {
  position: relative;
}

.footnote-wrapper {
  z-index: 1;

  @media (min-width: 768px) {
    position: sticky;
    top: calc(var(--header-height));
  }

  @media (min-width: 992px) {
    top: calc(var(--header-height));
  }

  @media (min-width: 1200px) {
    top: calc(var(--header-height) + 40px);
  }

  @media (min-width: 1400px) {
    top: calc(var(--header-height) + 60px);
  }
}

.lecture-head_image {
  line-height: 0;
  border-radius: 15px;
  margin: 0 0 10px 0;
  overflow: hidden;

  img {
    width: 100%;
  }

  @media (min-width: 1200px) {
    margin: 0 30px 0 0;
  }

  @media (min-width: 1400px) {
    margin: 0 50px 0 0;
  }
}

.lecture-info {
  margin: 30px 0 0 0;

  @media (min-width: 768px) {
    margin: 60px 0 0 0;
  }

  @media (min-width: 1400px) {
    margin: 80px 0 0 0;
  }
}

.section-broadcast {
  color: var(--base-color);
  padding: 50px 0;
  margin: 90px 0;
  background: var(--primal-color);

  @media (min-width: 768px) {
    padding: 70px 0 100px;
    margin: 100px 0 120px;
  }

  @media (min-width: 992px) {
    margin: 100px 0;
  }

  @media (min-width: 1400px) {
    padding: 100px 0;
    margin: 120px 0;
  }
}

.youtube-wrapper {
  text-align: center;

  iframe {
    max-width: 300px;
    aspect-ratio: 16 / 8;
  }

  @media (min-width: 500px) {
    iframe {
      max-width: 480px;
    }
  }

  @media (min-width: 768px) {
    iframe {
      max-width: 700px;
    }
  }

  @media (min-width: 992px) {
    iframe {
      max-width: 944px;
    }
  }
  @media (min-width: 1200px) {
    iframe {
      max-width: 798px;
    }
  }

  @media (min-width: 1400px) {
    iframe {
      max-width: 1210px;
    }
  }
}

//privacy
.privacy-title {
  margin: calc(30px + var(--header-height)) 0 30px;

  @media (min-width: 768px) {
    margin: calc(60px + var(--header-height)) 0 40px;
  }

  @media (min-width: 1200px) {
    margin: calc(60px + var(--header-height)) 0 30px;
  }

  @media (min-width: 1400px) {
    margin: calc(80px + var(--header-height)) 0 80px;
  }
}

.privacy {
  p {
    font-size: var(--h5-font-size);
    font-weight: 500;
  }

  a {
    color: var(--accent-color);
  }
}
